* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "AvaFacad", sans-serif;
}
.tiny-Header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: black;
  padding: 10px;
}
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.diamond {
  font-size: 50px;
  padding: 0;
}
.tiny-Header p {
  font-size: 11px;
  color: whitesmoke;
  font-weight: 100;
}

.tiny-Header a {
  color: white;
  font-size: 11px;
  font-weight: 600;
  padding-right: 200px;
}

.lan {
  color: white;
  font-size: 13px;
}
.lan img {
  width: 15px;
}

.second-line {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding-top: 20px;
}
.second-line h2 {
  font-size: 20px;
}

.second-line ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.second-line ul li {
  float: left;
  margin-left: 40px;
}
.second-line ul li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  color: black;
  transition: color 0.3s, font-size 0.3s ease-in;
  cursor: pointer;
}
.second-line ul li a:hover {
  color: darkblue;
  font-size: 15px;
  text-decoration: underline;
}
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: lightgray;
  padding: 6px 13px;
}

.HiOutlineSearch {
  font-size: 20px;
  font-weight: 200;
}

.search input {
  border: none;
  background-color: transparent;
  font-size: 12px;
}
.search input:focus {
  outline: none;
}
.cartimage {
  width: 50%;
}
.cartimage img {
  width: 550px;
}
.flexing {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  width: 100%;
  margin-top: 50px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  width: 40%;
  margin-top: 80px;
}
.form h3 {
  font-size: 30px;
  font-weight: 300;
}

.form p {
  font-size: 13px;
  font-weight: 300;
  margin-top: 10px;
}

.form form {
  margin-top: 25px;
}
.form input {
  display: block;
  padding: 9px 0px;
  width: 300px;
  border: none;
  border-bottom: 1px solid lightgray;
  margin-bottom: 6px;
}

.form input:focus {
  outline: none;
}

.form input::placeholder {
  font-size: 15px;
  color: lightgray;
  font-weight: 500;
}

.login {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
}

.login .log {
  padding: 10px 25px;
  background-color: brown;
  color: white;
  font-size: 12px;
  font-weight: 500;
  border-radius: 2px;
  margin-right: 50px;
}

.forget {
  font-size: 13px;
  color: brown;
}

.footer-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin-top: 70px;
  background-color: black;
  padding: 40px 0px;
  color: white;
  font-style: italic;
}

.diamonds h2 {
  font-size: 18px;
  font-weight: 600;
}
.diamonds p {
  font-size: 12px;
  font-weight: 600;
  margin-top: 7px;
}
.input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  border: 1px solid white;
  padding: 6px 10px;
}

.input input {
  border: none;
  background-color: transparent;
  margin-bottom: 10px;
}

.input input:focus {
  outline: none;
  border: none;
}

.support h2 {
  font-size: 18px;
  font-weight: 600;
}

.support address {
  font-size: 12px;
  margin-top: 7px;
}
.support p {
  font-size: 12px;
  margin-top: 7px;
}

.account h2 {
  font-size: 18px;
  font-weight: 600;
}

.account p {
  font-size: 12px;
  margin-top: 7px;
}

.quick h2 {
  font-size: 18px;
  font-weight: 600;
}

.quick p {
  font-size: 12px;
  margin-top: 7px;
}

.download h2 {
  font-size: 18px;
  font-weight: 600;
}

.download p {
  font-size: 12px;
  margin-top: 7px;
}

.image img {
  width: 60px;
}

.create {
  background-color: brown;
  text-align: center;
  padding: 10px 100px;
  font-size: 14px;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  border: none;
}

.google {
  border: 1px solid gray;
  text-align: center;
  padding: 10px 70px;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 10px;
}
.google img {
  width: 15px;
  margin-right: 10px;
}

.log {
  font-size: 14px;
  margin-top: 10px;
  margin-left: 50px;
}

.log a {
  font-size: 13px;
  margin-left: 15px;
}

.error {
  font-size: 10px;
  color: red;
}

.a-list {
  border-right: 1px solid gray;
  width: 150px;
}
.a-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 35px;
}

.a-list ul li {
  font-size: 14px;
  font-weight: 530;
  padding: 10px 0px;
  width: 120px;
  border-radius: 4px;
}
.a-list ul li:hover {
  background-color: lightgray;
}

.carousel img {
  width: 750px;
}
.mother {
  margin: 0px 100px;
}
.flexboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.today {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin-top: 100px;
}
.today div {
  background-color: red;
  width: 15px;
  height: 30px;
  border-radius: 5px;
  margin-right: 10px;
}

.today p {
  font-size: 15px;
  font-weight: 600;
  color: red;
}

.count-down {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
  align-content: center;
}
.flash {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 70px;
}
.flash h2 {
  font-size: 28px;
  font-weight: 600;
  margin-top: 10px;
}
.day h2 {
  font-size: 25px;
  font-weight: 600;
}
.day p {
  font-size: 11px;
  font-weight: 500;
}

.icon {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 100px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.product-image {
  background-color: rgb(236, 229, 229);
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
}

.product-image img {
  width: 150px;
  object-fit: cover;
  object-position: center;
}

.items-container {
  background-color: aliceblue;
  padding: 10px;
  width: 200px;
  box-shadow: 2px 2px gray;
  border-radius: 6px;
  margin-top: 15px;
  /* height: 260px; */
}
.percent {
  font-size: 9px;
  background-color: red;
  padding: 2px 10px;
  border-radius: 3px;
  color: white;
}

.add {
  text-align: center;
  background-color: black;
  color: white;
  width: 180px;
  padding: 5px 0px;
  font-size: 14px;
  font-weight: 600;
}
.product-name a {
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.product-name p {
  font-size: 14px;
  font-weight: 500;
  color: red;
}
.product-name p span {
  text-decoration: line-through;
  color: rgb(95, 89, 89);
}
.product-name img {
  width: 60px;
}
.item-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.product-view {
  background-color: red;
  padding: 10px;
  width: 150px;
  margin: auto;
  margin-top: 30px;
  border-radius: 4px;
  text-align: center;
}

.product-view a {
  font-size: 14px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.product-view:hover {
  background-color: rgb(224, 93, 93);
}

.sell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: 20px;
}
.sells {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin-top: 20px;
  gap: 730px;
}

.view {
  background-color: red;
  padding: 8px 20px;
  border-radius: 5px;
}
.view a {
  color: white;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}
.month {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin-top: 30px;
}
.month div {
  background-color: red;
  width: 15px;
  height: 30px;
  border-radius: 5px;
  margin-right: 10px;
}

.month p {
  font-size: 12px;
  font-weight: 600;
  color: red;
}

.sell h3 {
  font-size: 25px;
  font-weight: 550;
}

.flex-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 10px;
}

.speaker-image {
  margin-top: 80px;
}
.speaker-image img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.image-display {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  gap: 30px;
  margin-top: 30px;
}

.first-image img {
  width: 500px;
}

.second-image img {
  width: 500px;
}
.second-sub img {
  height: 270px;
}

.delivery-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 85px;
  margin-top: 150px;
  text-align: center;
  margin-bottom: 50px;
}

.dlivery h5 {
  font-size: 13px;
  margin-bottom: 10px;
  padding-top: 14px;
}
.dlivery p {
  font-size: 12px;
  font-weight: 500;
}

.icons-papi {
  position: relative;
}
.ikon {
  font-size: 25px;
  margin-right: 15px;
}
.contact-modal {
  background-color: gray;
  position: absolute;
  width: 230px;
  top: 30px;
  right: 0;
  padding: 15px;
  opacity: 0.9;
  border-radius: 2px;
}

.contact-modal a {
  display: block;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 10px;
  text-decoration: none;
  color: white;
}
.contact-modal a:hover {
  background-color: rgb(70, 67, 67);
}

.categ-product-flex {
  padding: 2px 80px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.item-grids {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 7px;
}

.homes p {
  font-size: 11px;
  font-weight: 550;
}
.homes span {
  color: lightgreen;
}

.flexings {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 80px;
}

.iya {
  padding: 50px 0px 50px 80px;
}

.first-flex h5 {
  font-size: 35px;
  font-weight: 550;
  margin-bottom: 30px;
}

.first-flex p {
  font-size: 13px;
  font-weight: 540;
}

.first-flex-image img {
  width: 605px;
  height: 609px;
}

.small {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 70px;
  text-align: center;
  margin-top: 70px;
}
.first-small {
  border: 1px solid lightgreen;
  padding: 10px 20px;
  border-radius: 5px;
}

.first-small:hover {
  background-color: rgb(243, 52, 52);
  transition: background-color 0.3s ease;
}

.first-small h5 {
  font-size: 20px;
  font-weight: 600;
}
.first-small p {
  font-size: 10px;
  font-weight: 500;
}

.ceo {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 30px;
  padding: 90px 70px 50px 0px;
  text-align: center;
}

.ceo-img img {
  width: 300px;
}

.ceo-img h5 {
  font-size: 20px;
  color: darkblue;
}

.ceo-img p {
  font-size: 13px;
  color: gray;
  font-weight: 400;
  padding: 10px;
}

.win {
  padding: 50px 80px;
}

.contact-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 60px;
}

.textContent {
  background-color: transparent;
  width: 250px;
  padding: 30px 20px;
  box-shadow: 1px 1px lightgray;
}
.textContent h5 {
  font-size: 14px;
  font-weight: 550;
  margin-bottom: 10px;
}

.textContent p {
  font-size: 13px;
  padding: 5px 0px;
  font-weight: normal;
}

.circle {
  background-color: red;
  border-radius: 50%;
  color: white;
  padding: 5px 7px;
  margin-right: 5px;
}

.text-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
}

.forms {
  width: 700px;
  background-color: transparent;
  box-shadow: 1px 1px 1px 1px lightgray;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  padding: 70px 50px;
}

.inputplace {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 20px;
}

.inputplace input {
  padding: 9px 10px;
  width: 200px;
  background-color: whitesmoke;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  color: gray;
}
.inputplace input:focus {
  outline: none;
}
.inputplace input::placeholder {
  font-size: 14px;
  font-weight: 500;
}
.textarea textarea {
  background-color: whitesmoke;
  border: none;
  width: 630px;
  padding: 50px 10px;
  font-size: 15px;
  resize: none;
  margin-top: 20px;
  color: gray;
}
.textarea textarea:focus {
  outline: none;
}

.textarea textarea::placeholder {
  font-size: 14px;
  font-weight: 500;
}

.sendmessage button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  margin-left: 500px;
  margin-top: 15px;
}
.sendmessage button:hover {
  transition: background-color 0.3s ease;
  background-color: rgb(235, 76, 76);
}
.notfound {
  text-align: center;
}
.notfound h1 {
  font-size: 70px;
  font-weight: 500;
}

.notfound p {
  font-size: 11px;
  font-weight: 500;
}

.notfound .back {
  background-color: red;
  padding: 10px 15px;
  width: 200px;
  margin-left: 550px;
  margin-top: 30px;
  border-radius: 5px;
}
.notfound .back a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-size: 13px;
}

.items-flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 2px;
}

.count {
  position: absolute;
  top: 55px;
  right: 169px;
  font-weight: 600;
  font-size: 16px;
  color: red;
}
.count2 {
  position: absolute;
  top: 55px;
  right: 120px;
  font-weight: 600;
  font-size: 16px;
  color: red;
}

.three-stones {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
}
.small-images {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}
.small-images img {
  width: 120px;
  background-color: whitesmoke;
  box-shadow: 1px 1px 1px 1px lightgray;
  padding: 10px 15px;
  margin-bottom: 20px;
}

.big-images {
  background-color: whitesmoke;
  box-shadow: 1px 1px 1px 1px lightgray;
  padding: 48px 30px;
  margin-left: 80px;
}
.big-images img {
  width: 400px;
}

.contents-images {
  margin-left: 50px;
}

.contents-images h5 {
  font-size: 18px;
  font-weight: 600;
}
.review {
  display: flex;
  align-content: flex-start;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.review-cont {
  font-size: 10px;
  color: red;
  font-weight: 500;
}
.stock {
  font-size: 10px;
  color: green;
  font-weight: 500;
}

.contents-images p {
  font-size: 15px;
  font-weight: 500;
  margin-top: 9px;
  margin-bottom: 14px;
}
.productivity {
  font-size: 11px;
  font-weight: 400;
  padding-right: 90px;
  margin-bottom: 14px;
}

.quantity {
  display: flex;
  align-content: flex-start;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}

.minus {
  border: 1px solid red;
  padding: 4px 7px;
  border-radius: 2px;
}
.minus:hover {
  background-color: red;
  color: white;
}

.text {
  border: 1px solid red;
  padding: 4px 35px;
}

.buy {
  border: 1px solid red;
  padding: 6px 45px;
  margin-left: 10px;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 600;
}

.buy:hover {
  background-color: red;
  color: white;
}

.bus {
  border: 1px solid gray;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  padding: 20px 15px;
  width: 300px;
}

.deliverys h5 {
  font-size: 12px;
  font-weight: 600;
}

.deliverys p {
  font-size: 10px;
  margin-top: 6px;
  font-weight: 500;
}
.buss {
  font-size: 30px;
  margin-right: 9px;
}
.cart-mother {
  padding: 80px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-content: center;
  align-items: center;
  background-color: transparent;
  box-shadow: 1px 1px 1px 1px whitesmoke;
}
.header h5 {
  font-size: 15px;
  font-weight: 600;
}
.imge {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}
.imge img {
  width: 40px;
}

.imge p {
  font-size: 14px;
  font-weight: 500;
}

.quan {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border: 1px solid red;
  padding: 0px 0px 0px 20px;
  border-radius: 4px;
}

.caretup {
  margin: 5px;
  margin-top: 0px;
  padding: 0px;
}
.caretup:hover {
  background-color: red;
  border-radius: 2px;
}
.caretdown:hover {
  background-color: red;
  border-radius: 2px;
}

.caretdown {
  margin: 5px;
  padding: 0px;
  margin-bottom: 0px;
}
.caret {
  margin-left: 16px;
}

.lastbutn {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-top: 25px;
}
.return {
  border: 1px solid gray;
  padding: 9px 25px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  border-radius: 3px;
}

.update {
  border: 1px solid gray;
  padding: 9px 25px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  border-radius: 3px;
}

.summingTotal {
  border: 1px solid red;
  width: 350px;
  padding: 20px 10px;
  margin-left: 750px;
  margin-top: 30px;
}

.summingTotal h5 {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: 600;
}

.sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 15px;
}

.namee {
  font-size: 14px;
}
.tot {
  font-size: 14px;
}
.proceed {
  background-color: red;
  font-size: 13px;
  color: white;
  width: 140px;
  padding: 6px 10px;
  text-align: center;
  border-radius: 3px;
  margin: auto;
}
.small-imagess {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}
.small-imagess img {
  width: 120px;
  background-color: whitesmoke;
  box-shadow: 1px 1px 1px 1px lightgray;
  padding: 10px 15px;
  margin-bottom: 20px;
}

.image-container img {
  margin-left: 39px;
  margin-top: 40px;
}
.image-container h5 {
  margin-left: 70px;
  font-size: 15px;
}
.image-container p {
  font-size: 11px;
  color: red;
}

.product-display {
  margin-top: 50px;
}

.inputQuantity input {
  width: 80px;
  padding: 10px;
}
